[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-SocketIO = "*"
requests = "*"
Flask-Bootstrap = "*"
Flask-WTF = "*"
click = "*"
attrs = "*"
PyYAML = "*"


[dev-packages]

"flake8" = "*"
pylint = "*"
mypy = "*"
tox = "*"
pytest = "*"
coverage = "*"
pex = "*"
codecov = "*"
