[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
requests = "*"
flask-bootstrap = "*"
flask-wtf = "*"
click = "*"
pyyaml = "*"
pillow = "*"
prompt-toolkit = {git = "https://github.com/jonathanslenders/python-prompt-toolkit.git", editable = true}

[dev-packages]
"flake8" = "*"
pylint = "*"
mypy = "*"
tox = "*"
pytest = "*"
coverage = "*"
codecov = "*"
"e1839a8" = {path = ".", editable = true}
