{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Mayan Feeder - eats all the documents{% endblock %}

{% block content %}
  <div class="container">
    <h1>Mayan Feeder <small>eats all the documents</small></h1>

    {{ wtf.quick_form(form) }}

    <h3>Log:</h3>
    <pre>
      <code>
        <div id="log"></div>
      </code>
    </pre>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
  <script>
    $(document).ready(function(){
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/feeder');
        socket.on('my response', function(msg) {
            $('#log').append('<p class="text-' + msg.class + '">'+ msg.msg + '</p>');
        });
    });
  </script>
{% endblock %}
